.productContainer{ 
 display: grid;
 grid-template-columns:  1fr  1fr  1fr 1fr;
 gap: 5px;

}
.productItem {background-color: antiquewhite;
    border-radius: 10px;
    overflow: hidden;
    height: 50vh; 

}
.productImage {height: 70%;
    width: 100%; 
    

}
.productName {

}
.productPrize {

} 