.productContainer{ 
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
 gap: 5px;

}
 @media (max-width: 600px) {
  .productContainer { display:grid;
    grid-template-columns:repeat(3, 1fr); 
   /* single column on small screens */
        padding: 10px;
    }
  }
.productItem {background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  text-align: left;
  padding: 8px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between; 

}
.productImage {height: 70%;
    width: 100%; 
    

}
.productName {

}
.productPrice {

} 